@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

h1, h2, h3, p, ul, ol {
  margin: 0;
  padding: 0;
}

/*--------------------*/
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.header {
  padding: 40px 0px;
  width: 100%;
  z-index: 100;
}

.row {
  margin: 0;
}

.row__logo {
  padding: 0;
}

.header__menu {
  padding: 0;
}

.icon-menu {
  display: none;
}
@media (max-width: 992px) {
  .icon-menu {
    display: block;
    position: fixed;
    top: 6%;
    right: 5%;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 201;
  }
  .icon-menu span {
    transition: all 0.3s ease 0s;
    top: 8px;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: black;
  }
  .icon-menu span:first-child {
    top: 0px;
  }
  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }
  .icon-menu.active span {
    transform: scale(0);
  }
  .icon-menu.active span:first-child {
    transform: rotate(-45deg);
    top: 8px;
  }
  .icon-menu.active span:last-child {
    transform: rotate(45deg);
    bottom: 8px;
  }
}

@media (max-width: 992px) {
  .menu__body {
    overflow: auto;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 200;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #ccc;
    transform: translate(0px, -100%);
    transition: all 0.3s ease 0s;
  }
  .menu__body.active {
    transform: translate(0px, 0px);
  }
}

.menu__list {
  font-family: Poppins, sans-serif;
}
@media (max-width: 992px) {
  .menu__list {
    flex-direction: column;
  }
}

.menu__link {
  color: #5D676F;
  font-family: Poppins;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  display: flex;
  align-items: center;
  letter-spacing: 0.01em;
}
@media (max-width: 992px) {
  .menu__link {
    font-size: 30px;
    color: #fff;
  }
}
.menu__link:hover {
  color: #55CAE8;
}

li {
  margin: 0px 24px 0px 0px;
}
@media (max-width: 992px) {
  li {
    margin: 0px 0px 50px 0px;
  }
}
li:last-child {
  margin: 0px 0px 0px 0px;
}

.btn {
  color: #5D676F;
  padding: 0;
  width: 100px;
  height: 33px;
  border: 1px solid #55CAE8;
  box-sizing: border-box;
  border-radius: 22px;
}
@media (max-width: 992px) {
  .btn {
    border: 1px solid #FFFFFF;
    color: #fff;
  }
}
.btn:after {
  content: url("../img/btn.svg");
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 0px 0px 0px 24px;
  position: relative;
  top: 2px;
}
@media (max-width: 992px) {
  .btn:after {
    content: url("../img/btn2.svg");
  }
}

.features {
  position: relative;
  background: linear-gradient(107.89deg, #E1DDDB 0%, #F2F1ED 21.28%, #FDFCF9 65.53%, #E6E0DD 100.12%);
  padding: 156px 0px;
  width: 100%;
}
@media (max-width: 1200px) {
  .features {
    padding: 156px 0px 0px 0px;
  }
}
@media (max-width: 992px) {
  .features {
    padding: 100px 0px 0px 0px;
  }
}

.row__content {
  position: relative;
  z-index: 2;
}
@media (max-width: 1200px) {
  .row__content {
    text-align: center;
  }
}

.row__title {
  margin: 0px 0px 24px 0px;
  font-family: Oswald;
  font-weight: bold;
  font-size: 46px;
  line-height: 66px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #2E2B32;
}
@media (max-width: 992px) {
  .row__title {
    font-size: 35px;
  }
}
@media (max-width: 992px) {
  .row__title {
    font-size: 25px;
  }
}
.row__title .title__colored {
  background: #55CAE8;
  color: #FFFFFF;
  padding: 0 3px;
}

.row__text {
  font-family: Poppins;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  align-self: center;
  letter-spacing: 0.01em;
  color: #2E2B32;
  margin: 0px 0px 36px 0px;
}
@media (max-width: 992px) {
  .row__text {
    font-size: 15px;
  }
}

.btn-big {
  width: 190px;
  height: 68px;
  text-transform: uppercase;
  border-radius: 36px;
  font-family: Oswald;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0.01em;
}
@media (max-width: 992px) {
  .btn-big {
    height: 50px;
    font-size: 18px;
  }
}

.dark {
  background: #2E2B32;
  color: #F6F5F1;
}
@media (max-width: 475px) {
  .dark {
    margin: 31px 0px 0px 0px;
  }
}
.dark:after {
  content: url("../img/arrow__gray.svg");
  position: relative;
  width: 18px;
  height: 18px;
  top: 1px;
  margin: 0px 0px 0px 28px;
}

.light {
  background: #E3E0DD;
  color: #4AC9F3;
  margin: 0px 31px 0px 0px;
}
@media (max-width: 475px) {
  .light {
    margin: 0px 0px 0px 0px;
  }
}
.light:after {
  content: url("../img/arrow__blue.svg");
  position: relative;
  width: 18px;
  height: 18px;
  top: 1px;
  margin: 0px 0px 0px 13px;
}

.row__image {
  position: absolute;
  z-index: 1;
  transform: translate(-20%, 0%);
  top: 0;
  left: 50%;
  width: 1055px;
  height: 791px;
}
.row__image img {
  width: 100%;
  height: 100%;
}
@media (max-width: 1200px) {
  .row__image {
    position: relative;
    transform: translate(0%, 0%);
    left: 0;
  }
}
@media (max-width: 992px) {
  .row__image {
    height: 60%;
  }
}

.templates {
  width: 100%;
  padding: 0px 0px 64px 0px;
  background: linear-gradient(103.21deg, #302C34 2.8%, #59555D 26.3%, #4A474F 37.81%, #232224 92.31%);
}

.templates__start {
  position: relative;
  z-index: 3;
  padding: 23.4px 0px;
  width: 100%;
  background: #CED5D8;
  font-family: Poppins;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.01em;
  color: #2E2B32;
  margin: 0px 0px 64px 0px;
}
@media (max-width: 1200px) {
  .templates__start {
    text-align: center;
    font-size: 12px;
  }
}

.templates__title {
  font-family: Oswald;
  font-weight: bold;
  font-size: 26px;
  line-height: 39px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0px 0px 48px 0px;
}
@media (max-width: 992px) {
  .templates__title {
    font-size: 20px;
  }
}
.templates__title .title__colored {
  background: #55CAE8;
  color: #FFFFFF;
  padding: 0 3px;
}

.card__item {
  border: 3px solid transparent;
  border-image: linear-gradient(to bottom, rgba(85, 202, 232, 0.5) 0%, rgba(201, 232, 240, 0.08) 41.4%, rgba(85, 202, 232, 0) 100%);
  border-image-slice: 1;
  margin: 0px 10px 14px 0px;
  padding: 24px 15px 19px 15px;
  width: 211px;
  background: linear-gradient(180deg, rgba(196, 196, 196, 0) 0%, rgba(23, 128, 155, 0.1) 73.44%);
}
@media (max-width: 1200px) {
  .card__item:nth-child(4n+4) {
    margin: 0px 0px 14px 0px;
  }
  .card__item:last-child {
    margin: 0px 0px 14px 0px;
  }
}
@media (max-width: 992px) {
  .card__item:nth-child(3n+3) {
    margin: 0px 0px 14px 0px;
  }
  .card__item:nth-child(4n+4) {
    margin: 0px 10px 14px 0px;
  }
}
@media (max-width: 767px) {
  .card__item:nth-child(3) {
    margin: 0px 10px 14px 0px;
  }
  .card__item:nth-child(9) {
    margin: 0px 10px 14px 0px;
  }
  .card__item:nth-child(even) {
    margin: 0px 0px 14px 0px;
  }
}
@media (max-width: 468px) {
  .card__item:nth-child(odd) {
    margin: 0px 5px 14px 5px;
  }
}
.card__item:nth-child(5) .item__title {
  margin: 0px 0px 16px 0px;
}

.item__title {
  font-family: Oswald;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
  margin: 0px 0px 40px 0px;
}

.item__text {
  font-family: Poppins;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.01em;
  color: #FFFFFF;
  margin: 0;
}

.relables {
  width: 100%;
  padding: 64px 0px 81px 0px;
}
.relables .relables__title {
  font-family: Oswald;
  font-weight: bold;
  font-size: 26px;
  line-height: 39px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #2E2B32;
  margin: 0px 0px 37px 0px;
}
@media (max-width: 992px) {
  .relables .relables__title {
    font-size: 20px;
  }
}
.relables .relables__title .title__colored {
  background: #55CAE8;
  color: #FFFFFF;
  padding: 0 3px;
}
.relables .relables__text {
  font-family: Poppins;
  font-weight: 500;
  font-size: 15px;
  line-height: 26px;
  letter-spacing: 0.01em;
  color: #2E2B32;
  margin: 0;
  position: relative;
}
.relables .relables__text:only-child:after {
  transform: translate(100%, 0);
}

.relables__items img {
  margin: 0px 44px 0px 0px;
}
.relables__items img:last-of-type {
  margin: 0px 23px 0px 0px;
}
.relables__items img:nth-child(2) {
  margin: 0px 0px 0px 39px;
}

.relables__p {
  margin: 0px 0px 0px 0px;
  font-family: Oswald;
  font-weight: 500;
  font-size: 15px;
  line-height: 26px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #2E2B32;
}
@media (max-width: 992px) {
  .relables__p {
    text-align: center;
  }
}
.relables__p:first-of-type {
  margin: 12px 0px 0px 0px;
}
.relables__p .p__text {
  font-family: Poppins;
  font-size: 15px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.01em;
  text-transform: none;
}

.image {
  text-align: center;
}
.image img {
  width: 100%;
  height: 100%;
}
@media (max-width: 992px) {
  .image img {
    width: 80%;
    height: 80%;
  }
}

.relables__items .first {
  position: relative;
}
.relables__items .first:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 315px;
  height: 315px;
  right: -25px;
  top: 50%;
  transform: translate(0, -50%);
  background: linear-gradient(270deg, rgba(85, 202, 232, 0.07) 4.6%, rgba(196, 196, 196, 0) 93.97%);
  border-radius: 50%;
}
.relables__items .second {
  position: relative;
}
.relables__items .second:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 315px;
  height: 315px;
  left: -25px;
  top: 0;
  transform: translate(0, -50%);
  background: linear-gradient(270deg, rgba(85, 202, 232, 0.07) 4.6%, rgba(196, 196, 196, 0) 93.97%);
  transform: matrix(-1, 0, 0, 1, 0, 0);
  border-radius: 50%;
}
.relables__items .third {
  position: relative;
}
.relables__items .third:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 315px;
  height: 315px;
  right: -25px;
  top: 55%;
  transform: translate(0, -50%);
  background: linear-gradient(270deg, rgba(85, 202, 232, 0.07) 4.6%, rgba(196, 196, 196, 0) 93.97%);
  border-radius: 50%;
}
@media (max-width: 992px) {
  .relables__items:nth-child(2) .relables__text {
    text-align: center;
    order: 2;
    margin: 0px 0px 30px 0px;
  }
}
@media (max-width: 992px) {
  .relables__items:nth-child(2) img {
    margin: 0px 0px 10px 0px;
  }
}

.labels {
  background: linear-gradient(281.7deg, #302C34 11.23%, #59555D 42.92%, #4A474F 52.23%, #232224 94.08%);
  border-radius: 4px;
}
@media (max-width: 1200px) {
  .labels {
    padding: 50px 0px 0px 0px;
  }
}

@media (max-width: 1200px) {
  .labels__text {
    text-align: center;
  }
}

.text__title {
  font-family: Oswald;
  font-weight: bold;
  font-size: 30px;
  line-height: 48px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0px 0px 17px 0px;
  justify-self: center;
}
@media (max-width: 992px) {
  .text__title {
    font-size: 20px;
  }
}

.text__p {
  font-family: Poppins;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.01em;
  color: #FFFFFF;
}

.labels__img {
  position: relative;
  left: 0;
  width: 735px;
  height: 235px;
  text-align: center;
  transform: translate(-40%, 0);
}
@media (max-width: 1200px) {
  .labels__img {
    transform: translate(0, 0);
  }
}
@media (max-width: 992px) {
  .labels__img {
    left: 50%;
    transform: translate(-55%, 0);
  }
}
@media (max-width: 767px) {
  .labels__img {
    transform: translate(-75%, 0);
  }
}
@media (max-width: 576px) {
  .labels__img {
    transform: translate(-90%, 0);
  }
}

.howitworks {
  padding: 64px 0px 88px 0px;
}

.howitworks__title {
  font-family: Oswald;
  font-weight: bold;
  font-size: 26px;
  line-height: 39px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #2E2B32;
  margin: 0px 0px 48px 0px;
}
@media (max-width: 992px) {
  .howitworks__title {
    font-size: 20px;
  }
}

.howitworks__img {
  width: 445px;
  height: 434px;
  background: #C4C4C4;
  margin: 0px 30px 0px 0px;
  position: relative;
}
@media (max-width: 1200px) {
  .howitworks__img {
    margin: 0px 0px 30px 0px;
  }
}
@media (max-width: 767px) {
  .howitworks__img {
    width: 300px;
    height: 300px;
  }
}
.howitworks__img:after {
  z-index: -1;
  content: "";
  position: absolute;
  border-radius: 50%;
  width: 431px;
  height: 431px;
  left: -55%;
  background: linear-gradient(270deg, rgba(85, 202, 232, 0.07) 4.6%, rgba(196, 196, 196, 0) 93.97%);
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.howitworks__text {
  font-family: Poppins;
  font-size: 15px;
  line-height: 26px;
  letter-spacing: 0.01em;
  color: #2E2B32;
}
@media (max-width: 1200px) {
  .howitworks__text {
    text-align: center;
  }
}

.demokit {
  background: linear-gradient(281.7deg, #302C34 11.23%, #59555D 42.92%, #4A474F 52.23%, #232224 94.08%);
  border-radius: 4px;
}
@media (max-width: 1200px) {
  .demokit {
    padding: 53px 0px 0px 0px;
  }
}

.demokit__list {
  list-style: none;
}

.demokit__item {
  font-family: Poppins;
  font-weight: 500;
  font-size: 26px;
  line-height: 39px;
  letter-spacing: 0.01em;
  color: #FFFFFF;
  margin: 0px 0px 32px 0px;
}
@media (max-width: 992px) {
  .demokit__item {
    font-size: 20px;
  }
}
.demokit__item:last-child {
  margin: 0px 0px 0px 0px;
}
.demokit__item .item__num {
  color: #55CAE8;
  margin: 0px 30px 0px 0px;
}

.demokit__img {
  position: relative;
  left: 0;
  text-align: center;
  width: 1622px;
  height: 512px;
  transform: translate(-85%, 0%);
}
@media (max-width: 1200px) {
  .demokit__img {
    left: 50%;
    transform: translate(-50%, 0%);
  }
}
@media (max-width: 992px) {
  .demokit__img {
    transform: translate(-55%, 0%);
  }
}

.form {
  padding: 110px 0px 122px 0px;
}
@media (max-width: 992px) {
  .form {
    padding: 55px 0px 61px 0px;
  }
}
.form form {
  position: relative;
}
@media (max-width: 767px) {
  .form form {
    width: 100%;
  }
}
.form form:after {
  z-index: -1;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
  width: 1229px;
  height: 621px;
  border-radius: 50%;
  background: linear-gradient(0deg, rgba(85, 202, 232, 0.07) 0%, rgba(196, 196, 196, 0) 40.2%);
}
.form .btn-big {
  margin: 10px 149px 0px 0px;
}
@media (max-width: 767px) {
  .form .btn-big {
    margin: 10px 0px 0px 0px;
    width: 100%;
  }
}
.form .btn-big:after {
  content: url("../img/arrow__blue.svg");
}

.form__title {
  font-family: Oswald;
  font-weight: bold;
  font-size: 26px;
  line-height: 39px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #2E2B32;
  margin: 0px 0px 40px 0px;
}
@media (max-width: 992px) {
  .form__title {
    font-size: 20px;
  }
}

.form-group {
  margin: 0px 0px 20px 0px;
}
.form-group textarea {
  resize: none;
}

.form-control {
  width: 540px;
  height: 68px;
  background: #FAFAFA;
  border: 1px solid #504C54;
  font-family: Poppins;
  font-size: 12.5px;
  border-radius: 0px;
}
@media (max-width: 767px) {
  .form-control {
    width: 100%;
    height: 50px;
  }
}

.form-text {
  font-family: Poppins;
  font-size: 15px;
  line-height: 26px;
  letter-spacing: 0.01em;
  color: #2E2B32;
  margin: 0px 0px 10px 0px;
}
@media (max-width: 767px) {
  .form-text {
    font-size: 12px;
  }
}

.form__info {
  font-family: Poppins;
  font-size: 15px;
  line-height: 26px;
  letter-spacing: 0.01em;
  color: #4AC9F3;
  display: inline-block;
}
@media (max-width: 767px) {
  .form__info {
    display: block;
    margin: 30px 0px 0px 0px;
    text-align: center;
  }
}

.info__email {
  text-decoration: underline;
}

.footer {
  padding: 43px 0px 48px 0px;
  background: #514E55;
}
.footer .menu__link {
  color: #FFFFFF;
}
.footer .menu__link:hover {
  color: #55CAE8;
}
@media (max-width: 992px) {
  .footer .menu__link {
    display: none;
  }
}
.footer .btn {
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
}
.footer .btn:after {
  content: url("../img/btn2.svg");
}
.footer .footer__copyright {
  position: relative;
}
.footer .footer__copyright:before {
  content: "";
  position: relative;
  display: block;
  width: 100%;
  height: 2px;
  background: #757378;
  margin: 20px 0px 24px 0px;
}
.footer .copyright__text {
  font-family: Poppins;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.01em;
  color: #757378;
}